# Node modules
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build folders
dist
build

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Coverage reports
coverage/
